# OS files
.DS_Store
Thumbs.db

# Frontend build and dependencies
frontend/node_modules/
frontend/dist/

# Backend local files
backend/.venv/
backend/local.settings.json
backend/__pycache__/

# Python cache
**/__pycache__/
*.pyc
